{"http_interactions":[{"request":{"method":"get","uri":"https://api.betterplace.org/de/api_v4/projects.json?foo=bar","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "Etag":["\"9ba49ca50b7f41acda0d600476616ea1\""]},"body":{"encoding":"UTF-8","string":"{\"total_entries\":11149,\"offset\":0,\"total_pages\":558,\"current_page\":1,\"per_page\":20,\"data\":[{\"id\":11135,\"created_at\":\"2012-10-12T12:29:34Z\",\"updated_at\":\"2014-08-19T15:17:18Z\",\"latitude\":52.5307961,\"longitude\":13.3836305,\"street\":null,\"zip\":null,\"city\":\"bundesweit\",\"country\":\"Deutschland\",\"completed_at\":null,\"title\":\"Mit der DKMS im Kampf gegen Blutkrebs!\",\"description\":\"Mit \\u00fcber 4,4 Millionen registrierten Stammzellspendern ist die DKMS-Family der weltweit gr\\u00f6\\u00dfte Dateienverbund im Kampf gegen Blutkrebs. Doch noch immer findet jeder 5. Betroffene seinen passenden Stammzellspender nicht. Ziel der DKMS ist es, f\\u00fcr m\\u00f6glichst jeden Blutkrebspatienten, der auf eine Stammzelltransplantation angewiesen ist, den geeigneten Lebensspender zu finden. Helfen Sie mit!\\u003Cbr /\\u003E\\u003Cbr /\\u003EUnerwartet bekommt alle 16 Minuten in Deu[...]
