{"http_interactions":[{"request":{"method":"get","uri":"https://api.betterplace.org/de/api_v4/projects/112233445566778899.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":404,"message":"Not Found"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["404 Not Found"]},"body":{"encoding":"UTF-8","string":"{\"name\":\"GeneralError\",\"reason\":\"Record Not Found\",\"links\":[]}"},"http_version":null},"recorded_at":"Tue, 19 Aug 2014 20:36:52 GMT"}],"recorded_with":"VCR 2.9.2"}