{"http_interactions":[{"request":{"method":"get","uri":"https://api.betterplace.org/de/api_v4/projects/12345.json","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "Status":["200 OK"], "Etag":["\"be8ad3002090cccdc92329ae414fd83e\""]},"body":{"encoding":"UTF-8","string":"{\"id\":12345,\"created_at\":\"2013-02-12T07:58:13Z\",\"updated_at\":\"2014-07-12T07:01:12Z\",\"latitude\":47.73295,\"longitude\":10.30224,\"street\":\"Robert Weixler Stra\\u00dfe 50\",\"zip\":\"87439\",\"city\":\"Kempten\",\"country\":\"Deutschland\",\"completed_at\":null,\"title\":\"Finanzierung der Nachsorge\",\"description\":\"Der BUNTE KREIS Allg\\u00e4u e.V. unterst\\u00fctzt Familien mit chronisch-, krebs- und schwerstkranken Kindern nach einem station\\u00e4ren Aufenthalt im heimischen Umfeld. \\u003Cbr /\\u003E\\u003Cbr /\\u003EDas interdisziplin\\u00e4re Team besteht aus zwei Sozialp\\u00e4dagoginnen, drei Nachsorge-Kinderkrankenschwestern, einer Psychologin, einer Di\\u00e4tassistentin und einer Seelsorgerin. Finanziert werden die Personalkosten dieses Team zu einem Drittel \\u00fcber die Sozialversicherungstr\\u00e4ger, die restlichen zwei Drittel m\\u00fcssen \\u00fcber Spendengelder finanziert werden.\",\"tax_deductible\":true,\"donations_prohibited\":false,\"open_amount_in_cents\":1056600,\"positive_opinions_count\":5,\"negative_opinions_count\":0,\"donor_count\":2,\"progress_percentage\":15,\"incomplete_need_count\":5,\"completed_need_count\":0,\"blog_post_count\":1,\"contact\":{\"name\":\"M. Pschorn\",\"picture\":{\"links\":[{\"rel\":\"fill_100x100\",\"href\":\"https://asset1.betterplace.org/uploads/user/profile_picture/000/297/579/fill_100x100_original_Margit_Voit.JPG\"},{\"rel\":\"original\",\"href\":\"https://asset1.betterplace.org/uploads/user/profile_picture/000/297/579/crop_original_original_Margit_Voit.JPG\"}]},\"links\":[{\"rel\":\"platform\",\"href\":\"https://www.betterplace.org/de/users/margit_p\"},{\"rel\":\"contact_data\",\"href\":\"https://api.betterplace.org/de/api_v4/users/297579/contact_data.json\"}]},\"carrier\":{\"name\":\"BUNTER KREIS Allg\\u00e4u e.V.\",\"picture\":{\"links\":[{\"rel\":\"fill_100x100\",\"href\":\"https://asset1.betterplace.org/uploads/organisation/profile_picture/000/013/334/fill_100x100_profile_thumb_logo_bk_mit_text_rgb.png\"},{\"rel\":\"original\",\"href\":\"https://asset1.betterplace.org/uploads/organisation/profile_picture/000/013/334/crop_original_profile_thumb_logo_bk_mit_text_rgb.png\"}]},\"links\":[{\"rel\":\"self\",\"href\":\"https://api.betterplace.org/de/api_v4/organisations/13334.json\"}]},\"profile_picture\":{\"links\":[{\"rel\":\"fill_960x500\",\"href\":\"https://asset1.betterplace.org/uploads/project/profile_picture/000/012/345/fill_960x500_original_BJ_2.jpg\"},{\"rel\":\"fill_618x322\",\"href\":\"https://asset1.betterplace.org/uploads/project/profile_picture/000/012/345/fill_618x322_original_BJ_2.jpg\"},{\"rel\":\"fill_270x141\",\"href\":\"https://asset1.betterplace.org/uploads/project/profile_picture/000/012/345/fill_270x141_original_BJ_2.jpg\"},{\"rel\":\"original\",\"href\":\"https://asset1.betterplace.org/uploads/project/profile_picture/000/012/345/crop_original_original_BJ_2.jpg\"}]},\"active_matching_fund\":null,\"links\":[{\"rel\":\"self\",\"href\":\"https://api.betterplace.org/de/api_v4/projects/12345.json\"},{\"rel\":\"platform\",\"href\":\"https://www.betterplace.org/de/projects/12345-finanzierung-der-nachsorge\"},{\"rel\":\"opinions\",\"href\":\"https://api.betterplace.org/de/api_v4/projects/12345/opinions.json\"},{\"rel\":\"pictures\",\"href\":\"https://api.betterplace.org/de/api_v4/projects/12345/pictures.json\"},{\"rel\":\"needs\",\"href\":\"https://api.betterplace.org/de/api_v4/projects/12345/needs.json\"},{\"rel\":\"blog_posts\",\"href\":\"https://api.betterplace.org/de/api_v4/projects/12345/blog_posts.json\"},{\"rel\":\"matching_funds\",\"href\":\"https://api.betterplace.org/de/api_v4/matching_funds.json?project_id=12345\"},{\"rel\":\"new_client_donation\",\"href\":\"https://www.betterplace.org/de/projects/12345/client_donations/new?client_id=%7Bclient_id%7D\",\"templated\":true},{\"rel\":\"new_donation\",\"href\":\"https://www.betterplace.org/de/projects/12345/donations/new\"}]}"},"http_version":null},"recorded_at":"Tue, 19 Aug 2014 20:36:51 GMT"}],"recorded_with":"VCR 2.9.2"}